/* This is how you comment */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

body p {
    padding-left: 2vw;
    padding-right: 2vw;
}


a,p,td {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}

textarea{
    width: 100%; /* takes the parent (body) width */
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5rem;
    height: auto;
}

a:hover {
    color: #9d2d2d;
}
a:active {
    color: #9d2d2d;
}

button {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}
button:hover {
    color: #9d2d2d;
}
div a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding-top: 30px;
    line-height: 1.3;
}
h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    display: inline;
}
h3 {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.gradient {
    background: linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 38%, rgb(82, 84, 84) 100%);
}

.button {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    border: 3px solid #9d2d2d;
    border-radius: 6px;
    font-size: 1rem;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
    padding: 10px 15px;
    margin: 15px;
    min-height: 44px;
}

footer {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    padding: 0px;
}
footer p {
    color: rgb(122, 122, 122);
    font-size: 16px;
}
.fa-wrapper {
    display: flex;
    justify-content: center;
    border: none;
    color: #9d2d2d;
    font-size: 5rem;
}
.fa-brands {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.fa-wrapper a {
        border: none;
        color: #9d2d2d;
        font-size: 5rem;
}

textarea:disabled {
    background-color: rgb(122, 122, 122);
    color: #000000;
}

textarea:disabled::placeholder {
    color: #000000;
}

.card-normal {
    border: 3px solid #9d2d2d;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: block;
    box-sizing: inherit;
    background-color: rgba(0,0,0,0.3);

}